.flashmessages .messages {
    font-family: "Courier New";    
}

.flashmessages .warning {
    color: red;    
}

.flashmessages .success {
    color: green;    
}

.flashmessages .notice {
    color: blue;    
}
